<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<div id="user" class="hidden"><% if cookies[:player_1] %>player_1<% elsif cookies[:player_2] %>player_2<% end %></div>
			<%= turbo_stream_from @tictactoeboard.channel %>
			<%= turbo_frame_tag @tictactoeboard do %>
				<div id="winner" class="hidden"><%= @tictactoeboard&.winner %></div>
				<div id="next" class="hidden"><%= @tictactoeboard&.whose_turn_next %></div>
				<div id="status" class="flash-border mb-4"><% if @tictactoeboard&.whose_turn_next.nil? %>Winner :<%= @tictactoeboard&.winner %><% elsif cookies[:player_1] && !@tictactoeboard&.player_2 %>Waiting for player 2 to join<% elsif (cookies[:player_1] && @tictactoeboard&.whose_turn_next == 'player_2') || (cookies[:player_2] && @tictactoeboard&.whose_turn_next == 'player_1') %>Status: another player's turn<% else %>Status: your turn<% end %></div>
				<div class="board my-0 mx-auto" data-controller="tictactoe">
					<div id="cell_1" class="cell <% if @tictactoeboard.cell_1 == 'circle' %>circle<% elsif @tictactoeboard.cell_1 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_2" class="cell <% if @tictactoeboard.cell_2 == 'circle' %>circle<% elsif @tictactoeboard.cell_2 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_3" class="cell <% if @tictactoeboard.cell_3 == 'circle' %>circle<% elsif @tictactoeboard.cell_3 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_4" class="cell <% if @tictactoeboard.cell_4 == 'circle' %>circle<% elsif @tictactoeboard.cell_4 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_5" class="cell <% if @tictactoeboard.cell_5 == 'circle' %>circle<% elsif @tictactoeboard.cell_5 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_6" class="cell <% if @tictactoeboard.cell_6 == 'circle' %>circle<% elsif @tictactoeboard.cell_6 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_7" class="cell <% if @tictactoeboard.cell_7 == 'circle' %>circle<% elsif @tictactoeboard.cell_7 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_8" class="cell <% if @tictactoeboard.cell_8 == 'circle' %>circle<% elsif @tictactoeboard.cell_8 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
					<div id="cell_9" class="cell <% if @tictactoeboard.cell_9 == 'circle' %>circle<% elsif @tictactoeboard.cell_9 == 'cross' %>cross<% end %>" data-action="click->tictactoe#click"></div>
				</div>
			<% end %>
			<% if cookies[:player_1] %>
				<div>Your channel code: <%= @channel %></div>
			<% elsif cookies[:player_2] %>
				<div>You are in a game (<%= @channel %>)</div>
			<% end %>
			<% if cookies[:player_1] %>
				<button data-controller="tictactoe" data-action="tictactoe#reset" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
					Restart Game
				</button>
				<% if !@tictactoeboard&.player_2 %>
					<button data-controller="tictactoe" data-action="tictactoe#join" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
						Join a game
					</button>
				<% end %>
			<% elsif cookies[:player_2] %>
				<button data-controller="tictactoe" data-action="tictactoe#leave" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
					Leave Game
				</button>
			<% end %>
		</div>
		<script>
			addEventListener("turbo:before-stream-render", ((event) => {
				const fallbackToDefaultActions = event.detail.render

				event.detail.render = function (streamElement) {
					fallbackToDefaultActions(streamElement)
					const userName = document.getElementById("user");
					const nextUser = document.getElementById("next");
					const status = document.getElementById("status");
					
					if (nextUser.textContent === '') {
						const winner = document.getElementById("winner");
						status.textContent = `Winner: ${winner.textContent}`
					} else if (userName.textContent === nextUser.textContent) {
						status.textContent = 'Status: your turn'
					} else {
						status.textContent = "Status: another player's turn"
					}
				}
			}))
		</script>
		<div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-modal">
			<div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
				<div class="mt-3 text-center">
					<h3 class="text-lg leading-6 font-medium text-gray-900">Join a game</h3>
					<div class="mt-2 px-7 py-3">
						<p class="text-sm text-gray-500">
							Enter a channel code
						</p>
						<%= form_tag('/tictactoeboards/join_team', method: :post) do %>
							<input type="text" name="channel"></input>
							<%= submit_tag "Join", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<script>
			let modal = document.getElementById("my-modal");
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
		</script>
	</body>
</html>
