<!DOCTYPE html>
<html>
  <head>
    <title>TictactoeRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <%= javascript_importmap_tags %>
    <style>
      body {
        background-image: url('<%= image_path("background") %>');
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <main class="container mx-auto mt-28 px-5 flex justify-center">
      <%= yield %>
    </main>
  </body>
</html>
